# Arquivos de ambiente
myvenv/
venv/
.env
*.pyc
__pycache__/

# Banco de dados SQLite
db.sqlite3

# Arquivos estáticos e de mídia (caso gerados automaticamente)
staticfiles/
media/

# Configurações do VSCode e IDEs
.vscode/
.idea/

# Logs e arquivos temporários
*.log

gunicorn.sock

# Arquivos com senha do youtube (Login)
youtube/

# Arquivos com log
scripts/logs/camera_stream/
