<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ClimaCocal</title>
  
  
  

  {% load static %}
  <script src="{% static 'js/script.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
</head>
<body>
  <!-- HEADER -->
  <header class="site-header">
    <div class="header-container">
      <!-- Logo -->
      <img src="static/img/logo_branca_header.png" alt="Logo ClimaCocal" class="logo" />

      <!-- Menu + Frase no canto superior direito -->
      <div class="menu-area">
        <button id="menuToggle" class="menu-toggle" aria-label="Menu">
          <i class="fas fa-bars"></i> <span class="menu-label">Menu</span>
        </button>           
            

        <nav class="menu-dropdown" id="menuDropdown">
          <ul>
            <li><a href="#previsao">Previsão</a></li>
            <li><a href="#outros-sites">Outros Sites</a></li>
          </ul>
        </nav>
      </div>

      <div class="phrase-area">
            <h1 class="header-phrase">Como </h1>
            <h1 class="header-phrase">tá o </h1> 
            <h1 class="header-phrase">tempo?</h1>
      </div>


      <!-- Botão centralizado -->
      <div class="header-center">
        <button id="payBtn" class="btn-header-main">Assista Ao Vivo</button>
        <p id="statusMsg" class="mt-2"></p>
      </div>
    </div>
  </header>

  <!-- HERO SECTION -->
  <section class="hero">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Ao vivo<br>3 minutos<br>3 reais</h1>
        <button id="payBtn2" class="btn-primary hero-btn">Assistir Agora</button>
        <p id="statusMsg2" class="mt-2"></p>
        <div class="baloes">
          <p class="balao">Tá na dúvida se vem?</p>
          <p class="balao">Ninguém te respondeu se tá sol?</p>
          <p class="balao">Não confia no app de clima?</p>
        </div>
      </div>
      <div class="hero-image">
        <div class="img-bg">
          <img src="static/img/maocelular.png" alt="Celular com transmissão ao vivo" />
        </div>
      </div>
    </div>
  </section>

  <!-- FORECAST -->
  <section id="previsao" class="forecast-section">
    <div class="container">
      <h2>Clima Tempo</h2>
      <div id="forecast-hoje"></div>
      <div id="forecast2"></div>
    </div>
  </section>


  <!-- OUTROS SITES -->
  <section id="outros-sites" class="outros-sites">
    <div class="container">
      <h2>Veja a previsão em outros sites</h2>
    </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <img src="static/img/logo_rodape.png" alt="Logo ClimaCocal Rodapé" />
    <p>&copy; 2025 ClimaCocal. Todos os direitos reservados.</p>
  </footer>

 
</body>
</html>